{% extends 'base.html.twig' %}

{% block title %}Order Success!{% endblock %}

{% block body %}
    <h1>Your order has been placed successfully!</h1>

    <p>Thank you for your order. We will process it as soon as possible.</p>
{% endblock %}
